
* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px dashed red; */
    font-family: sans-serif;
}
#wrapper {
    width: 1000px;
    margin: 0px auto;
}
#header {
    background-color: rgb(230,230,230);
    padding: 10px 0px;
}
    #header h1 {
        display: inline-block;
        width: 400px;
        margin-left: 20px;
    }
    #header p {
        display: inline-block;
        vertical-align: top;
        margin-top: 8px;
        width: 520px;
        text-align: right;
        font-size: 20px;
    }
#main {
    background-color: rgb(41,11,11);
    padding: 20px;
}
    #about {
        margin-bottom: 20px;
    }
    #about img {
        height: 250px;
        border: 3px solid gray;
    }
    #about div {
        display: inline-block;
        vertical-align: top;
        width: 540px;
        height: 256px;
        margin-left: 28px;
        background-color: white;
    }
    #about div h2, #projects div h3, #projects div h4 {
        padding: 4px 10px;
        background-color: rgb(136,136,136);
        color: white;
        text-align: left;
    }
    #about div p, #about div a{
        padding: 10px;
    }
    #about div a {
        display: block;
    }
    #projects div {
        width: 300px;
        display: inline-block;
        vertical-align: top;
        background-color: white;
        text-align: center;
        margin-right: 25px;
    }

    #projects div:last-child {
        margin: 0px;
    }
    
    #projects div img {
        width: 300px;
    }
    #projects div p {
        margin-top: -6px;
        padding: 6px;
        height: 140px;
        text-align: left;
    }
    #projects div div {
        text-align: left;
    }
    #projects div div img {
        width: 50px;
        margin: 3px;
    }
    #projects div button {
        background-color: teal;
        color: white;
        border-radius: 10px;
        border: 1px solid black;
        box-shadow: slategray;
        margin-bottom: 20px;
        padding: 5px;
    }
#footer {
    text-align: center;
}
    #footer p, #footer div {
        margin: 10px;
    }
    #footer img, #footer a {
        display: inline-block;
        vertical-align: top;
    }
    #footer img {
        height: 20px;
    }